/* 
Go site styles and formatting.  All formatting should be controlled by this document.
Created: 6-07-2003  RMH
Revisions:

*/


body {
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height : 150%;
	color: #333333;
	scrollbar-base-color: #3399CC;
}

h1 {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 240%;
	font-weight: bold;
	color: #3399cc;
}

h2 {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 200%;
	font-weight: bold;
	color: #1D5E97;
	margin-top : 15px;
	margin-bottom : 5px;
}

h3 {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 150%;
	font-weight: bold;
	color: #1D5E97;
}

h4 {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #1D5E97;
}

font2{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 16px;
    margin-bottom: 0;
}

font3{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 18px;
    margin-bottom: 0;
}

font4{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 20px;
    margin-bottom: 0;
}

.superscript 
	{ vertical-align: super; font-size: smaller }
	
.subscript 
	{ vertical-align: sub; font-size: smaller }

/*
p {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	vertical-align : top;
	color: #333333;
}
*/
bold {
        font-weight: bold;
}

tr.dark{
	background-color: #1D5E97;
	color : #FFFFFF;
}

th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	vertical-align : top;
	color: #333333;
}

td {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 11px;
	vertical-align: top;
	color: #333333;
}

td.medium {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color: #3399CC;
	color : #FFFFFF;
	vertical-align : middle;
}

tr.medium {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color: #3399CC;
	color : #FFFFFF;
	vertical-align : middle;
}

td.formbuilder_leftnav {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height: 25px;
	color: #FFFFFF;
	background-color: #3399CC ;
	width: 100px ;
	font-weight: normal;
	font-size: 9px;
	cursor: pointer;
	vertical-align: middle;
	text-align: right;
}

td.dark {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	padding: 5px;
	background-color: #1D5E97;
	color : #FFFFFF;
}

td.leftnav {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	padding: 0px 0px 2px 11px;
	height: 15px;
	width: 160px;
	background-color: #3399CC;
	color : #FFFFFF;
	font-weight : normal;
	font-size : 9px;
	cursor : pointer;
}

A:link { 
	color: #996600; 
	text-decoration: none;
	}
	
A:active { 
	color: #CC9933; 
	text-decoration: none;
}

A:visited { 
	color: #996600; 
	text-decoration: none;
}
	
A:hover { 
	color: #006699; 
	text-decoration: underline;
}

A.leftnav {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	padding: 3px;
	color : #FFFFFF;
	font-weight : normal;
	text-decoration : none;
    line-height: 18px;
}

A:visited.leftnav { 
	color: #FFFFFF; 
}
	
/* Alternating row background colors for lists */	
tr.alt1, thead.alt1 {
	background-color: #E0E0E0;
}	

tr.alt2, thead.alt2 {
	background-color: #FFFFFF;	
}

/* Left Navigation title */
td.leftnavtitle {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 18px;
	padding: 3px;
	background-color: #1D5E97;
	color : #E2BE7E;
	font-weight : bold;	
}	

/* Heading titles with no line break */
.majortitle {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;	
	color: #003366;
}

.minortitle {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #003366;
}

/* For info modules on the home page */
td.module {
	background-color: #03466E;
}

img.module {
	cursor: hand;
}

/* For blue tables */
table.bluetable {
	border : 0 none;
	/*border : 1px solid #03466E;
	*/
}

th.bluetable {
	vertical-align : middle;
	border : 1px solid #03466E;
	/*background-image : url(images/header_box.gif);
	height : 17;
	background-repeat : no-repeat;
	*/
	font-weight : normal;
}

td.bluetable {
	border-right : 1px solid #03466E;
}

/* For bar on search page */
td.searchbar {
	text-align: center;
	vertical-align: middle;
	background-color: #1D5E97;
	color: #FFFFFF;
}

a:link.searchbar {
	color: #66CCFF;
	text-decoration: underline;
}

a:visited.searchbar {
	color: #66CCFF;
	text-decoration: underline;
}

a:hover.searchbar {
	color: #FFFFFF;
}

/* For edit custom links page */
th.customlinks {
	background-color: #0099CC;
	color: #FFFFFF;
	font-size: 12px;
}

/* Used by search results page */
.bluehilite {
	color: #003366;
}

/* Error message style */
.alert {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #FF0000;
}

/* Used for student transcript report */
.transcript
{
	BACKGROUND: url(images/unofficial.gif) fixed repeat-y left center;
	background-attachment : scroll;
	background-image : url("images/unofficial.gif");
	background-position : center;
	background-repeat : repeat-y;
}
/* Used for making text bold */
.boldText{
    font-weight: bold;
}
.boldText:before{ content:"* "; }
.boldText:after { content:" *"; }

.bodyQuestion {
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height : 150%;
	color: #333333;
	scrollbar-base-color: #3399CC;
}

img.leftnav {
	cursor : pointer;
}

/* Form settings */
form {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	}

input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

textarea {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

select {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

/* List styles */
ul {
	font-family: Arial, Helvetica, sans-serif;
	font-size: xx-small;
	list-style-type: square;
	list-style-position: outside;
}

li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

ol {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	list-style-position: outside;
}

hr {
	height : 1;
	line-height : 1;
	color : #003366;
}

.footer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: lighter;
	line-height: 11px;
	color: #000000;
}

.legal {
	font-family: "Times New Roman";
	font-size: 11px;
	color: #333333;
}

.instruct {
	font-style : italic;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

/* Collapsable menus */
.menutitle{
        cursor:pointer;
        margin-bottom: 5px;
        background-color:#ECECFF;
        color:#000000;
        width:140px;
        padding:2px;
        text-align:center;
        font-weight:bold;
        border:1px solid #000000;
}

.submenu{
        margin-bottom: 0.5em;
}

/* Administrative Styles for IT Applications */
body.itBody {
	background-color : #1D5E97;
}

td.urgentstat{
	font : bolder;
	color : Red;
}

td.inposs{
	font: bolder;
	color:green;
}

td.urgntinposs{
	font: bolder;
	color : #cc33cc;
}
td.mainTD {
	background-color : #3399cc;
}
table.itform {
	background-color : #DEE7EF;
	width: 800;
	align: center;
}

table.itformpopup {
	background-color : #DEE7EF;
	width: 683;
	/*height : 570;*/
}

div.itnotehover {
	background-color : #BF8410;
}

div.formbuilder {
	margin-left: 5px;
}
	
.feedback {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align : left;
	color: #009933;
}

td.activetab {
	background-color : #BE840F;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align : center;
	vertical-align : middle;
	font-size: smaller;
	text-decoration: none;
	cursor:pointer;
	color : White;
}

td.inactivetab{
	background-color:#1D5E97;
	font-family: Arial, Helvetica, sans-serif;
	text-align : center;
	vertical-align : middle;
	font-size: smaller;	
	text-decoration: none;
	cursor:pointer;
	color : White;
}

td.active2ndtab {
	background-color: #3399CC;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;  
	text-align : center;
	vertical-align : middle;
	font-size: x-small;
	text-decoration: none;
	cursor:pointer;
	color : White;
}

td.inactive2ndtab{
	background-color : #BE840F;
	font-family: Arial, Helvetica, sans-serif;
	/*font-weight: bold;*/
	text-align : center;
	vertical-align : middle;
	font-size: x-small;
	text-decoration: none;
	cursor:pointer;
	color : White;
}

th.itth{
	background-color:#1D5E97;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align : center;
	vertical-align : middle;
	font-size: smaller;
	text-decoration: none;
	cursor:pointer;
	color : White;
}
td.fh {
	text-align: left;
	font-size: 11px;
	font-weight: bold;
}

td.lh {
	font-weight: bold;
	text-align : center;
}

td.ld {
	text-align : center;
}

td.tabborder{
	/*background-color : #336699;
	*/
	background-color:#000000;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align : center;
	vertical-align : middle;
	font-size: smaller;
	text-decoration: none;
	cursor:pointer;
}

td.undertabrow{
	/*background-color : #336699;*/
	background-color : #CC9900;
	cursor:auto;
	/*background-color:#66cbff;*/
}

div.lastNoteDiv{
	background-color: Silver;
}
.formrow {
	height: 25px;
}
.formrow2 
{
	padding-top: 6px;
}
.schedrow {
	height: 30px;
}


body.visible { background:none; display:inline; visibility:visible; }
body.hidden { display:none; visibility:hidden; }


div.HelperToolbar {
	position:absolute;
	top:0px;
	left:800px;
	width:200px;
	height:500px;
	overflow:hidden;
	overflow-x:hidden;
	overflow-y:hidden;
	background-color:transparent;
	z-index:100001;
}

#AlertArea, #InfoArea, #EmergencyArea {
	clear: both;
/* 	font-size: 1.2em; */
	color: #FFFFFF;
	margin: 0px 15px 12px 15px;
	background-color: #ED3C05;
	padding: 7px 108px 7px 11px;
	background-image:url(../..images/slashes.gif);
	background-position: top right;
	background-repeat:no-repeat;
	vertical-align: middle;
}
	#AlertArea p {
		margin: 0px;	
		padding: 0px;
		font-size: 1.1em;
		color: #000000;		
	}
	
	#EmergencyArea p, #InfoArea p {
		margin: 0px;	
		padding: 0px;
		font-size: 1.1em;
	} 
	#EmergencyArea a, #InfoArea a {
		color: #FFFFFF;
	}
	#AlertArea a {
		color: #000000;
	}
	#InfoArea {
		background-color: #00AEEF;	
	}
	#EmergencyArea {
		background-color: #DE571F;	
	}
	#AlertArea {
		background-color: #FDB913;	
	}
