body {
	font-family: Century Gothic, Arial, Helvetica, sans-serif;
	font-size: .8em;
	line-height : 2em;
}

h1 {
	font-family: Century Gothic, Arial, Helvetica, sans-serif;
	font-size: 240%;
	color: #31342B;
	text-align: center;
	padding: 5px;
	padding-bottom: 20px;
}

h2 {
	font-family: Century Gothic, Arial, Helvetica, sans-serif;
	font-size: 200%;
	color: #1D5E97;
	margin-top : 25px;
	margin-bottom : 10px;
}

h3 {
	font-family: Century Gothic, Arial, Helvetica, sans-serif;
	font-size: 150%;
	color: #31342B;
	padding: 10px;
}

h4 {
	font-family: Century Gothic, Arial, Helvetica, sans-serif;
	font-size: 120%;
	color: #31342B;
	padding-left: 10px;
}

h5 { 
	font-size:1.0em;
}

textarea {
	font-family: Century Gothic, Arial, Helvetica, sans-serif;
}

A:link { 
	color: #00AEEF; 
	text-decoration: none;
	}

A:hover {
	text-decoration: underline;
}

/* List styles */
ul {
	padding-left: 4em;
	font-family: Century Gothic, Arial, Helvetica, sans-serif;
	font-size: small;
	list-style-type: circle;
	list-style-position: inside;
}

li {
	font-family: Century Gothic, Arial, Helvetica, sans-serif;
	font-size: 120%;
	padding: 5px;
}